<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="com.p6spy">
    <resources>
        <artifact name="p6spy:p6spy:${p6spy.version}"/>
        <artifact name="pl.devcoffee:p6spy-formatters:${p6spy-formatters.version}"/>
        <resource-root path="." />
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="org.slf4j"/>
        <module name="com.mysql" />
        <module name="org.wildfly.swarm.datasources" />
    </dependencies>
</module>
